* {
  /* `otf-font-awesome` is required to be installed for icons */
  font-family: JetBrainsMono, FontAwesome, Roboto, Helvetica, Arial, sans-serif;
  font-size: 14px;
  border-radius: 0px;
}

window#waybar {
  background-color: #282828;
  opacity: 0.9;
}

window#waybar.hidden {
  opacity: 0.2;
}



#workspaces {
  background-color: #282828;
  margin-left: 0px;
}

#workspaces button {
  background-color: #282828;
  color: #966F23;
  margin: 0;
  padding: 0px 24px;
  border: 0;
}

#workspaces button:hover {
  background-color: black;
}

#workspaces button.active {
  background-color: #689D68;
}


#workspaces button.focused {
  background-color: black;

}

#workspaces button.urgent {
  background-color: #eb4d4b;
}

#clock,
#cpu,
#memory,
#pulseaudio,
#tray,
#window,
#language {
  margin: 0 4px;
  padding: 0;
}

#clock,
#cpu,
#memory,
#pulseaudio,
#window {
  margin: 0 4px;
  padding-right: 12px;
  border-right: 1px solid #966F23;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left>widget:first-child>#workspaces {
  margin-left: 0;
}

.modules-right {
  background-color: #282828;
  color: #966F23;
}

.modules-left {
  background-color: #282828;
  font-weight: bold;
}

#clock {
  background-color: transparent;
}

#cpu {
  background-color: transparent;
}

#memory {
  background-color: transparent;
}

#disk {
  background-color: #964B00;
}

#pulseaudio {
  background-color: transparent;
}

#pulseaudio.muted {
  background-color: #90b1b1;
}

#tray {
  background-color: transparent;
}

#tray>.passive {
  -gtk-icon-effect: dim;
}

#tray>.needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #eb4d4b;
}
